#first-section {
    background: url(../images/saas/section1-bg.png) no-repeat;
}

#first-section #quote h1 {
    font-size: 41px;
    font-weight: normal;
    font-family: MuseoSans700;
}

#first-section h3, h4, h5 {
    font-family: MuseoSans300;
    font-weight: normal;
    color: #464646;
}

#first-section #quote h3 {
    font-size: 26px;
}

#first-section #be-ready h2 {
    font-family: MuseoSans2;
    font-size: 28px;
}


#first-section #be-ready h3 {
    font-size: 21px;
    margin-top: -5px;
}

#first-section #be-ready h4.first {
    margin-top: 22px;
}

#first-section #be-ready h4 {
    font-size: 20px;

    margin-bottom: 23px;
}

#first-section #be-ready .fa {
    font-size: 24px;
}

#first-section #be-ready {
    margin-top: 20px;
}

#first-section h4.last #many-more {
    margin-left: 37px;
}

#first-section #be-ready button {
    margin-left: 124px;
    font-size: 22.7px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 59px;
    padding-right: 49px;
}

#second-section {
    background: url(../images/saas/section2-bg.png) no-repeat;
    background-color: #d3eed7;
}

#second-section .row h2 {
    font-family: AvenirLTStd-Black;
    font-size: 28px;
}

#second-section .row p {
    font-size: 21px;
    line-height: 35px;
}

#fourth-section {
    background: url(../images/saas/banner1-bg.png) no-repeat center;
    background-color: #181818;
}

#fourth-section h1 {
    font-size: 32px;
    font-family: MuseoSans700;
    letter-spacing: 1.04px;
}

#eighth-section {
   background: url(../images/saas/banner2-bg.png) no-repeat;
   background-color: #181818;
}

#eighth-section h1 {
    font-size: 32px;
    font-family: MuseoSans700;
    margin-top: 34px;
    margin-left: -18px;
    letter-spacing: .5px;
}

#eighth-section button {
    margin-left: 36px;
    font-size: 22.7px;
    padding-top: 8px;
    border-radius: 7px;
    padding-bottom: 6px;
    padding-left: 59px;
    padding-right: 49px;
}

@media only screen and (max-width : 2100px) and (min-width: 992px) {
    #first-section {
        height: 607px;
        max-height: 607px;
    }

    #first-section #quote {
        margin-top: 45px;
        margin-left: 38px;
    }

    #second-section {
        padding-bottom: 55px;
    }

    #second-section #main-text {
        margin-top: 89px;
        margin-left: 63px;
    }

    #second-section .main-text {
        margin-top: 89px;
        margin-left: 63px;
    }

    #second-section .row #row1{
        margin-top: 111px
    }

    #second-section .img1 {
        margin-top: -58px;
    }

    #second-section .text1 {
        width: 95%;
    }

    #second-section .text2 {
        text-align: right;
        margin-top: 60px;
        margin-right: -31px;
        margin-left: 88px;
        width: 91%;
    }

    #second-section .img2 {
        margin-left: 76px
    }

    #second-section .text3 {
        margin-top: 89px;
        margin-left: 2px;
        width: 90%;
    }

    #second-section .img3 {
        margin-top: 30px;
        margin-left: -7px;
    }

    #second-section .text4 {
        text-align: right;
        margin-top: 89px;
        margin-left: 92px;
        width: 87%;
    }

    #second-section .text h2 {
        line-height: 34px;
    }

    #second-section .img4 {
        margin-top: 12px;
        margin-left: 53px;
    }

    #fourth-section {
        max-height: 115px;
        height: 115px;
    }

    #fourth-section h1 {
        margin-top: 45px;
    }


    #eighth-section {
       height: 162px;
       max-height: 162px;
    }
}

@media (max-width: 992px) {

    #first-section #be-ready h2, #be-ready h3 {
        text-align: center;
    }

    #first-section {
        background: url();
    }

    #first-section #be-ready div {
        margin-bottom: 30px;
    }

    #second-section .row {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #fourth-section {
        background: url(../images/banner.png) no-repeat center;
        height: 128px;
    }

    #fourth-section center {
        margin-top: 43px;
        vertical-align: middle;
    }

    #eighth-section button {
        font-size: 19.7px;
        margin-bottom: 23px;
        margin-right: 43px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    #first-section #be-ready div {
        margin-right: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 58%;
    }
}

@media (max-width: 992px) {
    #fourth-section center {
        margin-top: 33px;
    }

    #first-section #be-ready button {
        margin-left: 0px;
    }


}

@media (max-width: 1105px) and (min-width: 992px) {
    #second-section .img2 {
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    #first-section #be-ready button {
        font-size: 17.7px;
    }

    #first-section #quote h1 {
        font-size: 36px;
    }

    #first-section #quote h3 {
        font-size: 24px;
    }

    #first-section #be-ready h2 {
        font-family: MuseoSans2;
        font-size: 25px;
    }

    #first-section #be-ready h4 {
        font-size: 18px;
    }

    #first-section #be-ready h3 {
        font-size: 19px;
    }
}
